@import url('https://fonts.googleapis.com/css2?family=Paprika&family=Patua+One&display=swap');

footer {
    display: flex;
    justify-content: space-between;
    background-color: #F0DDB4;
    height: 173px;
    width: 100%;
    font-size: 12px;
    font-family: Patua One, sans-serif;
    bottom: 0;
    position: absolute;
}

footer input[type=text] {
    padding: 12px 4px;
    margin: 16px 0 0;
    width: 75%;
    font-size: 18px;
    outline: none;
}

footer input[type=text].input-error {
    border: 1px solid red;
}

footer button:disabled {
    background-color: #ededed;
    color: gray;
}

textarea {
    display: block;
}

